{% extends 'layout.twig' %}

{% block title "Mon blog" %}

{% block body %}
<div class="row">
    <h1>Bienvenue sur le blog !</h1>
    {% for row in posts | batch(4) %}
        <div class="card-deck">
            {% for post in row %}
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-header">
                        <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
                            {{ post.name }}
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ post.content | excerpt | nl2br }}
                        </p>
                        <p class="text-muted">
                            {{ post.created_at | ago }}
                        </p>
                    </div>
                    <div class="card-footer" >
                        <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">
                            Voir l'article
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{{ paginate(posts, 'blog.index') }}
{% endblock %}
